<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>COURSE TITLE</title>
</head><body>
<img alt="GTAA Logo" src="http://torontopearson.com/images/logo_topnav_gtaa.gif"><br>
<h2><span style="font-family: Trebuchet MS;">
Congratulations. </span></h2>
<h2><span style="font-family: Trebuchet MS;"></span></h2>
<span style="font-family: Trebuchet MS;">You have successfully completed the Introduction to IRROPS course. <br>
Please fill out your name:<br>
</span>
<h4><span style="font-family: Trebuchet MS;"><span style="font-family: Trebuchet MS;">Name:</span></span></h4>
<h2><span style="font-family: Trebuchet MS;"></span></h2>
<span style="font-family: Trebuchet MS;"><input name="Name"><br>
</span>
<h4><span style="font-family: Trebuchet MS;">Instructions</span></h4>
<h4><span style="font-family: Trebuchet MS;"></span></h4>
<span style="font-family: Trebuchet MS;">Please either print a copy of this form (<span style="font-weight: bold;">CTRL+P</span> - Print current page), or email this form </span><span style="font-family: Trebuchet MS;">(<span style="font-weight: bold;">CTRL+S</span> - Save the current page and then attach it as an email)</span><span style="font-family: Trebuchet MS;">
to the GTAA manager responsible for your training. By providing this
form to the GTAA, you are confirming that you have successfully
completed Introduction to IRROPS Course.<br>
<br>
Confirmation Code: <span style="font-weight: bold;">IRROPS2018</span><br>
<br>
</span><br>
<h1>
</h1>
</body></html>
